/* login.css */

h4 {
    background-color: black;
    color: white; /* Ensures text is visible on the dark background */
    padding: 10px; /* Optional: Add some padding for better readability */
    margin: 20px 0px;
}

body {
    background-color: #262A2B;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 0px;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

button {
    background-color: black;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#signup {
    text-align: left;
    margin-top: 25px;
}

/* Password toggle styles */
.password-field {
    position: relative;
    overflow: hidden;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.toggle-password i {
    color: #666;
}

.toggle-password i:hover {
    color: #333;
}
